---
dependency:
  name: galaxy
driver:
  name: docker
platforms:
  - name: openshift-ubuntu-2004
    image: geerlingguy/docker-ubuntu2004-ansible
    pre_build_image: true
  - name: openshift-ubuntu-2204
    image: geerlingguy/docker-ubuntu2204-ansible
    pre_build_image: true
provisioner:
  name: ansible
  ansible_args:
  - -vv
verifier:
  name: ansible
