LoadPlugin network

<LoadPlugin python>
  Globals true
</LoadPlugin>

<Plugin network>
        Server "{{ collectd_network_server }}" "{{ collectd_network_port }}"
</Plugin>

<Plugin python>
	ModulePath "{{ collectd_python_module_path }}"
	LogTraces true
	Interactive false
    {% for module in collectd_python_modules %}
    Import "{{ module }}"
    {% endfor %}
</Plugin>
