---
dependency:
  name: galaxy
driver:
  name: docker
platforms:
  - name: nvhpc-ubuntu-2204
    image: geerlingguy/docker-ubuntu2204-ansible
    cgroupns_mode: host
    pre_build_image: true
    privileged: true
provisioner:
  name: ansible
  ansible_args:
  - -vv
verifier:
  name: ansible
