[submodule "kubespray"]
	path = submodules/kubespray
	url = https://github.com/kubernetes-incubator/kubespray.git
[submodule "packer-maas"]
	path = submodules/packer-maas
	url = https://github.com/DeepOps/packer-maas.git
[submodule "charts"]
	path = submodules/charts
	url = https://github.com/helm/charts.git
