# ansible
*.retry

# misc.
.*.swp

# virtualenv
/.venv/

# claude code
/CLAUDE.md
/tasks/

# project-specific
/admin.conf
/config*/
!/config.example/
/roles/galaxy/
/collections/*
/k8s-config/
/kubectl
/tridentctl
