admin.conf
.Dockerfile
.idea
inventory.cfg
kubectl
*.retry
roles/community
ansible/galaxy
.terraform
*.tf*
config
get_helm.sh
virtual/.vagrant
virtual/*.log
@eaDir

roles/*
!roles/facts/
!roles/nvidia-driver/
!roles/users/
!roles/reboot/
!roles/slurm/
!roles/old/

*.retry

configuration.yml
k8s-config
