[submodule "kubespray"]
	path = kubespray
	url = https://github.com/kubernetes-incubator/kubespray.git
[submodule "ceph-ansible"]
	path = ceph-ansible
	url = https://github.com/ceph/ceph-ansible.git
[submodule "containers/deepops/ngc-container-replicator"]
	path = containers/deepops/ngc-container-replicator
	url = https://github.com/NVIDIA/ngc-container-replicator.git
