# ansible
*.retry

# misc.
.*.swp

# project-specific
/admin.conf
/config*/
!/config.example/
/galaxy-roles/
/k8s-config/
/kubectl
/src/python/.eggs
/src/python/build
/src/python/*.egg-info
/src/python/dist
/tridentctl
