[defaults]
roles_path = ./roles/galaxy:./roles:./submodules/kubespray/roles
library = ./submodules/kubespray/library
inventory = ./config/inventory
host_key_checking = False
gathering = smart
fact_caching = jsonfile
fact_caching_connection = /var/tmp/ansible_cache
fact_caching_timeout = 86400
deprecation_warnings = False
#vault_password_file = ./config/.vault-pass
timeout=60
stdout_callback = yaml
bin_ansible_callbacks = True
local_tmp=/tmp
remote_tmp=/tmp
forks = 25

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=5m -o ConnectionAttempts=100 -o UserKnownHostsFile=/dev/null
control_path = ~/.ssh/ansible-%%r@%%h:%%p
