---
# Common Host Configuration
all:
  vars:
    # SSH User
    ansible_user: ubuntu
 
    # Configure SUDO to not require a password for users in the `sudo` group
    # If this is `false`, pass the `-K` flag to all Ansible commands to prompt for the SUDO password
    enable_sudo_without_password: true

    # SSH Configuration
    ssh_password_authentication: 'yes'

    # User Configuration
    pwgen: "{{ lookup('password', '/dev/null length=8 chars=ascii_letters') }}"
    user_list:
      - name: "ubuntu"
        username: "ubuntu"
        state: present
        password: "{{ passwd | password_hash('sha512', 'salty') }}"
        groups:
          - sudo
          - docker

# GPU Host Inventory and Configuration
gpu-servers:

  # GPU Server Host List
  #   one host per line
  #   be sure there is a trailing colon (":") after each server
  hosts:
    10.0.0.1:
    10.0.0.2:
    10.0.0.3:

  # GPU Server Configuration
  vars:
    # NVIDIA GPU Driver configuration
    nv_gpu_apt_repo_url: ppa:graphics-drivers/ppa

    # Docker Configuration
    daemon_json:
      default-runtime: nvidia
      runtimes:
        nvidia:
          path: /usr/bin/nvidia-container-runtime
          runtimeArgs: [] 

# Kubernetes Configuration
# To modify Kubernetes installation, edit: k8s-config/group_vars/*.yml
