deb {{ nvidia_dgx_os5_ubuntu_baseurl }}/{{ ansible_distribution_release | lower }}/{{ ansible_architecture }}/ {{ ansible_distribution_release | lower }} common dgx
deb {{ nvidia_dgx_os5_ubuntu_baseurl }}/{{ ansible_distribution_release | lower }}/{{ ansible_architecture }}/ {{ ansible_distribution_release | lower }}-updates common dgx
