---
# See GitHub for more information https://github.com/NVIDIA/gpu-operator

# See https://docs.nvidia.com/datacenter/cloud-native/gpu-operator/getting-started.html#considerations-to-install-gpu-operator-with-nvidia-vgpu-driver
#  for additional details around buidling/pushing/using driver containers and setting gpu_operator_driver_version to the correct value

# Vars needed to install operator
gpu_operator_helm_repo: "https://nvidia.github.io/gpu-operator"
gpu_operator_chart_name: "nvidia/gpu-operator"
gpu_operator_release_name: "nvidia-gpu-operator"
gpu_operator_nvaie_helm_repo: "https://helm.ngc.nvidia.com/nvaie"
gpu_operator_nvaie_chart_name: "nvaie/gpu-operator"

# NVAIE GPU Operator may require different version, check NGC enterprise collection.
gpu_operator_chart_version: "1.11.1"

k8s_gpu_mig_strategy: "mixed"

# Enable/Disalbe specific components of GPU Operator
gpu_operator_enable_driver: true
gpu_operator_enable_toolkit: true
gpu_operator_enable_dcgm: false
gpu_operator_enable_migmanager: true

# Set to true for DGX and other systems with pre-installed drivers
# In an upcoming GPU Operator release, components can be enabled/disabled per-node
# In the current version, the cluster is expected to be more homogeneous
# TODO: Remove this flag and make detection dynamic per-node in this new release
gpu_operator_preinstalled_nvidia_software: true

# Configuration customization
gpu_operator_namespace: "gpu-operator-resources"
gpu_operator_grid_config_dir: "{{ deepops_dir }}/gpu_operator"

# Defaults from https://github.com/NVIDIA/gpu-operator/blob/master/deployments/gpu-operator/values.yaml
gpu_operator_default_runtime: "containerd"
gpu_operator_driver_registry: "nvcr.io/nvidia"
gpu_operator_driver_version: "515.48.07"

# This enables/disables NVAIE
gpu_operator_nvaie_enable: false
## When using NVAIE, this enables/disables NLS licensing
## When true, NLS is used. When false, traditional license server is used.
gpu_operator_nvaie_nls_enabled: true

# vGPU Licensing Info
## Value of NLS Token file String
gpu_operator_nvaie_nls_token: ""
## This is the IP of the license server used for vGPU, must be set to use vGPU
vgpu_grid_license_server: ""

# NGC authentication information (Required for NVAIE)
## This should remain as $oauthtoken if using an NGC API key
gpu_operator_registry_username: "$oauthtoken"
## This is most likely an NGC API key
gpu_operator_registry_password: ""
## This is most likely an NGC email
gpu_operator_registry_email: ""
