---
# Vars needed to install operator
gpu_operator_helm_repo: "https://nvidia.github.io/gpu-operator"
gpu_operator_chart_name: "nvidia/gpu-operator"
gpu_operator_release_name: "nvidia-gpu-operator"
gpu_operator_chart_version: "1.1.7"
