---

- name: Copy DGX firmware container tarball to temporary directory on remote node
  copy:
    src: "{{ firmware_container_src_dir }}/{{ firmware_update_container }}"
    dest: "{{ fw_dir }}"
  ignore_errors: yes

# Using 'command' instead of 'docker_image' since docker-py is required to use 'docker_image'
- name: Load image from archive
  command: "docker load -i {{ firmware_update_container }}"
  args:
    chdir: "{{ fw_dir }}"
  ignore_errors: yes
