---
name: VS Code Server
category: Interactive Apps
subcategory: Servers
role: batch_connect
description: |
  This app will launch a [VS Code] instance using [Code Server] on a GPU node

  [VS Code]: https://code.visualstudio.com/
  [Code Server]: https://coder.com/
