#
# ansible role to install lmod:
#
---
- name: RedHat | trust GPG key for EPEL
  rpm_key:
    key: "{{ epel_key_url }}"
    state: present
  when: ansible_os_family == "RedHat"

- name: RedHat | add epel repo
  become: yes
  yum:
    name: 
      - "{{ epel_package }}"
    state: present
  environment: "{{ proxy_env if proxy_env is defined else {} }}"
  when: ansible_os_family == "RedHat"

- name: "install packages"
  become: yes
  apt:
    update_cache: yes
    name:
    - bash
    - tcsh
    - lmod
    state: present
  when: ansible_os_family == "Debian"

- name: "install packages"
  become: yes
  dnf:
    name:
    - bash
    - tcsh
    - Lmod
    enablerepo: powertools
  when: ansible_os_family == "RedHat"

- name: "mkdir software path"
  become: yes
  file:
    path: "{{ sm_software_path }}"
    state: directory
    mode: "0755"

- name: "mkdir module path"
  become: yes
  file:
    path: "{{ sm_module_path }}"
    state: directory 
    mode: 0755

- name: "configure sh profile"
  become: yes
  template:
    src: templates/z00_lmod.sh
    dest: /etc/profile.d
    owner: root
    group: root
    mode: 0755
  tags:
    - configuration

- name: "configure csh profile"
  become: yes
  template:
    src: templates/z00_lmod.csh
    dest: /etc/profile.d
    owner: root
    group: root
    mode: 0755
  tags:
    - configuration

- name: "unset previous lmod setup"
  shell: unset MODULEPATH_ROOT  # noqa command-instead-of-shell
  register: unset_lmod_bash
  args:
    executable: /bin/bash
  changed_when: unset_lmod_bash.rc != 0

- name: "unset previous lmod setup"
  shell: unsetenv MODULEPATH_ROOT  # noqa command-instead-of-shell
  register: unset_lmod_csh
  args:
    executable: /bin/csh
  changed_when: unset_lmod_csh.rc != 0

- name: "auto load lmod"
  shell: . /etc/profile.d/z00_lmod.sh  # noqa command-instead-of-shell
  register: load_lmod_bash
  args:
    executable: /bin/bash
  changed_when: load_lmod_bash.rc != 0

- name: "auto load lmod "
  shell: source /etc/profile.d/z00_lmod.csh  # noqa command-instead-of-shell
  register: load_lmod_csh
  args:
    executable: /bin/csh
  changed_when: load_lmod_csh.rc != 0
