[Unit]
Description=Prometheus IPMI Exporter
After=docker.service
Requires=docker.service
 
[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker stop prometheus-ipmi-exporter
ExecStartPre=-/usr/bin/docker rm prometheus-ipmi-exporter
ExecStartPre=/usr/bin/docker pull lovoo/ipmi_exporter
ExecStart=/usr/bin/docker run --device=/dev/ipmi0 -d --name ipmi_exporter -p 9289:9289 --name prometheus-ipmi-exporter lovoo/ipmi_exporter:latest
 
[Install]
WantedBy=multi-user.target
