# {{ ansible_managed }}
{% for ib_iface in ansible_interfaces | select('match','ib.*') | list | sort %}
auto {{ ib_iface }}
iface {{ ib_iface }} inet manual
    bond-master {{ bond_iface }}
{% endfor %}
auto {{ bond_iface }}
iface {{ bond_iface }} inet static
        address {{ ib_bond_addr }}
        mtu 2044
        bond-mode active-backup
        bond-miimon 100
        bond-slaves {{ ansible_interfaces | select('match','ib.*') | list | sort | join(' ') }}
