#Accept the VMware End User License Agreement
vmaccepteula
 
#clear paritions and install
clearpart --firstdisk --overwritevmfs
install --firstdisk --overwritevmfs
 
#set the root password
rootpw d33pops!

#Host Network Settings
network --bootproto=dhcp --addvmportgroup=1
 
reboot

#Firstboot section 1
%firstboot --interpreter=busybox


#Enable & start remote ESXi Shell (SSH)
vim-cmd hostsvc/enable_ssh
vim-cmd hostsvc/start_ssh
 

#Enable & start ESXi Shell (TSM)
vim-cmd hostsvc/enable_esx_shell
vim-cmd hostsvc/start_esx_shell


#Suppress Shell Warning
esxcli system settings advanced set -o /UserVars/SuppressShellWarning -i 1
esxcli system settings advanced set -o /UserVars/ESXiShellTimeOut -i 1

#Disable ipv6
esxcli network ip set --ipv6-enabled=0
 
# NTP Configuration
cat > /etc/ntp.conf << __NTP_CONFIG__
restrict default kod nomodify notrap noquerynopeer
restrict 127.0.0.1
server 0.us.pool.ntp.org
server 1.us.pool.ntp.org
server 2.us.pool.ntp.org
__NTP_CONFIG__
/sbin/chkconfig ntpd on

# enable High Performance
esxcli system settings advanced set --option=/Power/CpuPolicy --string-value="High Performance"

# Disable CEIP
esxcli system settings advanced set -o /UserVars/HostClientCEIPOptIn -i 2

#Mount NFS
esxcli storage nfs41 add --hosts #VMW_NFS_IP# --share=/ --volume-name=nfsstore
 
#Enable maintaince mode
esxcli system maintenanceMode set -e true

#copy GRID driver
mkdir /vmfs/volumes/datastore1/vGPU_Driver
cp /vmfs/volumes/nfsstore/#VMW_GPU_VIB# /vmfs/volumes/datastore1/vGPU_Driver/

#install vGPU driver
esxcli software vib install -v /vmfs/volumes/datastore1/vGPU_Driver/#VMW_GPU_VIB#

#enable vGPU mode
esxcli graphics host set --default-type=SharedPassthru

#disable ECC
nvidia-smi -e 0

#Disable maintaince mode
esxcli system maintenanceMode set -e false

#copy vmx files
mkdir /vmfs/volumes/datastore1/imported
cp /vmfs/volumes/nfsstore/*.vmx /vmfs/volumes/datastore1/imported/

#Create VMDK 001
for disk in $(find /vmfs/volumes/datastore1/imported/ -type f -name \*.vmx -exec grep vmdk {} \; | awk '{print $NF}' | sed 's/\"//g') ; do
    vmkfstools -c #VMW_VM_SIZE# /vmfs/volumes/datastore1/imported/${disk} -d thin
done

#Register VMs to Host
find /vmfs/volumes/datastore1/imported/ -type f -name \*.vmx -exec vim-cmd solo/registervm {} \;

#copy %first boot script logs to persisted datastore
cp /var/log/hostd.log "/vmfs/volumes/datastore1/firstboot-hostd.log"
cp /var/log/esxi_install.log "/vmfs/volumes/datastore1/firstboot-esxi_install.log"

reboot

#power on first VM
#vim-cmd vmsvc/power.on 1

#power on second VM
#vim-cmd vmsvc/power.on 2
