---
 attributes:
   desktop: "mate"
   bc_vnc_idle: 0
   bc_vnc_resolution:
     required: true
   node_type: null

 form:
   - bc_vnc_idle
   - desktop
   - bc_account
   - bc_num_hours
   - bc_num_slots
   - bc_num_gpus
   - node_type
   - bc_queue
   - bc_vnc_resolution
   - bc_email_on_started
