---
- name: create pyxis source dir
  file:
    path: /usr/local/src/pyxis
    state: directory
  tags: pyxis

- name: copy pyxis source
  unarchive:
    # FIXME: use debs instead of source tarballs
    src: "{{ slurm_pyxis_tarball_url }}"
    remote_src: yes
    dest: /usr/local/src/pyxis
    extra_opts:
      - --strip-components=1
  tags: pyxis

- name: build pyxis
  command:
    chdir: /usr/local/src/pyxis
    argv:
      - make
  register: result
  changed_when: "result.stdout != \"make: Nothing to be done for 'all'.\""
  notify:
    - restart slurmctld
    - restart slurmd
  tags: pyxis

- name: copy plugstack file
  template:
    src: etc/slurm/plugstack.conf.d/pyxis.conf
    dest: "{{ _sysconf_dir }}/plugstack.conf.d/"
  notify:
    - restart slurmctld
    - restart slurmd
  tags: pyxis
