# {{ ansible_managed }}

# Check number of CPU cores
 {{ ansible_hostname }} || check_hw_cpuinfo {{ ansible_local.topology.cpu_topology.sockets }} {{ ansible_local.topology.cpu_topology.physical_cores }} {{ ansible_local.topology.cpu_topology.logical_cpus }}

# Check memory
{{ ansible_hostname }} || check_hw_physmem {{ (ansible_memtotal_mb * 0.95) | round | int }}m {{ (ansible_memtotal_mb * 1.05) | round | int }}m

# Check that the root filesystem is mounted rw
 {{ ansible_hostname }} || check_fs_mount_rw /

# Check that Ethernet connections are up
{% set my_interfaces = ansible_interfaces|select('match', '(?!^(lo|docker|nodelocaldns)).*')|default(None) -%}
{% for interface in my_interfaces %}
 {{ ansible_hostname }} || check_hw_eth {{ interface }}
{% endfor %}

# Check that expected processes are running
 {{ ansible_hostname }} || check_ps_service -u root sshd
 {{ ansible_hostname }} || check_ps_service -d rpc.statd nfslock
 {{ ansible_hostname }} || check_ps_service -u root slurmd
 {{ ansible_hostname }} || check_ps_service -u root docker

{% if ansible_local.gpus.count > 0 %}
# Check GPU count
 {{ ansible_hostname }} || check_nv_gpu_count {{ ansible_local.gpus.count }}

# Example: check NVIDIA driver version
# {{ ansible_hostname }} || check_nv_drv_version 450.51.06

# Example: check for retired pages pending
# {{ ansible_hostname }} || check_nv_retired_pages

# Example: check PCIe width
# {{ ansible_hostname }} || check_nv_pcie_link_width 16

# Example: run DCGM check
# {{ ansible_hostname }} || check_nv_dcgmi_diag
{% endif %}
