---

- include: bootstrap/bootstrap-python.yml
- include: bootstrap/bootstrap-ssh.yml
- include: bootstrap/bootstrap-sudo.yml

- include: container/docker.yml
- include: nvidia-software/nvidia-driver.yml
- include: container/nvidia-docker.yml

- include: nvidia-software/nvidia-dcgm.yml
  when: install_dcgm|default(false)

- hosts: all
  become: true
  vars:
    ngc_container_tag: 18.10-py3
  tasks:
    - name: install docker python3 module
      apt:
        name: python3-docker
        state: present
        update_cache: yes
      when: ansible_distribution == "Ubuntu"
    - name: Enable EPEL repo
      package:
        name:
          - epel-release
        state: present
      when: ansible_os_family == 'RedHat'
    - name: Install package dependencies
      package:
        name:
          - python3-pip
        state: present
      when: ansible_os_family == "RedHat"
    - name: Install python3 dependencies
      pip:
        name:
          - docker
        state: present
      when: ansible_os_family == "RedHat"
    - name: pull CUDA container
      docker_container:
        name: gpu-test-pull
        image: nvcr.io/nvidia/cuda
        auto_remove: yes
        pull: yes
      tags:
        - test
        - never
    - name: test CUDA container
      docker_container:
        name: gpu-test
        image: nvcr.io/nvidia/cuda
        detach: no
        command: nvidia-smi -L
      register: cuda
      tags:
        - test
        - never
    - name: functional test output
      debug:
        var: cuda.ansible_facts.docker_container.Output
      tags:
        - test
        - never
    - name: remove CUDA container
      docker_container:
        name: gpu-test
        state: absent
      tags:
        - test
        - never
    - name: pull pytorch container
      docker_container:
        name: pytorch-pull
        image: "nvcr.io/nvidia/pytorch:{{ ngc_container_tag }}"
        auto_remove: yes
        pull: yes
      tags:
        - test
        - never
    - name: test pytorch
      docker_container:
        name: pytorch
        image: "nvcr.io/nvidia/pytorch:{{ ngc_container_tag }}"
        working_dir: /opt/pytorch/examples/upstream/mnist
        detach: no
        network_mode: host
        command: "python main.py"
      register: pytorch
      tags:
        - test
        - never
    - name: pytorch test output
      debug:
        var: pytorch.ansible_facts.docker_container.Output
      tags:
        - test
        - never
    - name: remove pytorch container
      docker_container:
        name: pytorch-test
        state: absent
      tags:
        - test
        - never
    - name: pull tensorflow container
      docker_container:
        name: tensorflow-pull
        image: "nvcr.io/nvidia/tensorflow:{{ ngc_container_tag }}"
        auto_remove: yes
        pull: yes
      tags:
        - test
        - never
    - name: test tensorflow
      docker_container:
        name: tensorflow
        image: "nvcr.io/nvidia/tensorflow:{{ ngc_container_tag }}"
        working_dir: /opt/tensorflow/tensorflow/examples/tutorials/mnist
        detach: no
        network_mode: host
        command: "python mnist_with_summaries.py"
      register: tensorflow
      tags:
        - test
        - never
    - name: tensorflow test output
      debug:
        var: tensorflow.ansible_facts.docker_container.Output
      tags:
        - test
        - never
    - name: remove tensorflow container
      docker_container:
        name: tensorflow-test
        state: absent
      tags:
        - test
        - never
