---
- hosts: kube-master
  become: true
  tasks:
    - name: install k8s GPU plugin
      include_role:
        name: nvidia-k8s-gpu-device-plugin
  environment: "{{proxy_env if proxy_env is defined else {}}}"
  tags:
    - k8s_gpu_device_plugin
