---
- hosts: gpu-servers
  become: true
  become_method: sudo
  vars:
    daemon_json:
      bip: 192.168.99.1/24
      default-runtime: nvidia
      runtimes:
        nvidia:
          path: /usr/bin/nvidia-container-runtime
          runtimeArgs: []
  tasks:
    - name: remove nvidia-docker v1
      apt:
        name: nvidia-docker
        state: removed
        purge: yes
    - name: add nvidia-docker repo key
      apt_key:
        url: https://nvidia.github.io/nvidia-docker/gpgkey
        state: present
    - name: add nvidia-docker repo source
      get_url:
        url: https://nvidia.github.io/nvidia-docker/ubuntu16.04/nvidia-docker.list
        dest: /etc/apt/sources.list.d/nvidia-docker.list
        mode: 0644
        owner: root
        group: root
      when: (ansible_facts['distribution'] == 'Ubuntu' and ansible_facts['distribution_major_version'] == '16')
    - name: add nvidia-docker repo source
      get_url:
        url: https://nvidia.github.io/nvidia-docker/ubuntu18.04/nvidia-docker.list
        dest: /etc/apt/sources.list.d/nvidia-docker.list
        mode: 0644
        owner: root
        group: root
      when: (ansible_facts['distribution'] == 'Ubuntu' and ansible_facts['distribution_major_version'] == '18')
    - name: install nvidia-docker2
      apt:
        name: "{{ item }}"
        state: present
        update_cache: yes
      with_items:
        - "nvidia-docker2=2.0.3+docker18.06.1-1"
        - "nvidia-container-runtime=2.0.0+docker18.06.1-1"
    - name: configure docker daemon.json
      copy:
        content: "{{ daemon_json | to_nice_json }}"
        dest: /etc/docker/daemon.json
        owner: root
        group: root
        mode: 0644
    - name: 'nvidia-docker: reload docker service'
      service:
        name: docker
        state: reloaded
