global:
  scrape_interval: {{ prometheus_cfg_scrape_interval }}

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:{{ prometheus_port }}']
  - job_name: 'node'
    static_configs:
      - targets: [{{ groups['slurm-node'] | zip_longest([], fillvalue=':9100') | map('join') | join(',') }}]
