---
- name: Install docker
  import_playbook: ../container/docker.yml

- hosts: "{{ hostlist | default('all') }}"
  become: yes
  tasks:
    - name: configure alertmanager
      include_role:
        name: alertmanager

