---
- include: ../container/docker.yml
- include: ../nvidia-software/nvidia-driver.yml
- include: ../container/nvidia-docker.yml

- hosts:  "{{ hostlist | default('all') }}"
  become: yes
  tasks:
    - name: install custom facts module
      include_role:
        name: facts
    - name: set GPU fact
      set_fact:
        has_gpus: true
      when: ansible_local['gpus']['count']
    - name: configure dcgm exporter
      include_role:
        name: nvidia-dcgm-exporter
      when: ansible_distribution == "Ubuntu" or ansible_os_family == "RedHat"
