---
- hosts:  "{{ hostlist | default('all') }}"
  become: yes
  tasks:
    - name: install custom facts module
      include_role:
        name: facts
    - name: set GPU fact
      set_fact:
        has_gpus: true
      when: ansible_local['gpus']['count']
    - name: install nvtop
      include_role:
        name: nvtop
